### Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
*.code-workspace

### C/C++
*.debug
*.debug.so

# CMake
CMakeLists.txt.*
build/**/CMake*
build/Testing
build/**/Makefile
build/**/*.cmake
build/CPack*
build/compile_commands.json
build/*.ninja*
.cmake
bin/**
