### Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
*.code-workspace

### C/C++

# CMake
CMakeLists.txt.*
build/CMakeCache.txt
build/CMakeFiles
CMakeScripts
Testing
build/**/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build.ninja
build/.ninja_*
.cmake
